*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: rgb(32, 32, 32);
}
.logo img{
    width: 100px;
}
.menu_container{
    display: flex;
    justify-content: space-around;
    padding: 12px;
    color: #fff;
}
.menus{
    display: flex;
    list-style: none;
    
}
.item{
    padding: 5px;
    margin-right: 17px;
    font-size: 18px;
}